.profile {
    font-size: 26pt;
    font-weight: 200;
    /* padding-bottom: 35px; */
    display: flex;
    justify-content: center;
    cursor: default;
    /* margin-top: 50px; */
    /* background-color: rgb(254, 232, 205); */
    height: 150px;
    /* border-top: 2px solid lightgrey; */
    align-items: center;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}