#cart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#cart table {
    width: 50%;
}

#cart th,
#cart td {
    padding: 10px;
    text-align: center;
}

.cart-img {
    height: 40px;
    width: 40px;
}

.cart-rm {
    border-radius: 7px;
    border: none;
    height: 30px;
    width: 30px;
    font-weight: bolder;
    background-color: red;
    cursor: pointer;
}

.cart-total {
    margin-bottom: 10px;
    font-weight: bolder;
}