.merchdetails-pic {
    width: 800px;
    height: 600px;
    border-radius: 10px;
    transition-duration: 200ms;
}

.merchdetails-pic:hover {
    width: 800px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    transition-duration: 200ms;
}

.merchinshopcomponent {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
}

.inventory {
    display: flex;
    justify-content: center;
    font-size: 24pt;
    margin-bottom: 40px;
    font-weight: 200;
    border-top: 1px solid lightgrey;
    width: 70%;
    align-items: center;
    padding-top: 20px;
}

.no-inventory {
    display: flex;
    justify-content: center;
    font-size: 18pt;
    margin-bottom: 40px;
    font-weight: 200;
    /* border-top: 1px solid lightgrey; */
    width: 70%;
    align-items: center;
    /* padding-top: 20px; */
}

.merchdetails-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.merchdetails-pic-container {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    width: 800px;
    height: 600px;
}

.owner-perms {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 10px;
    /* margin-left: 15%; */
    /* margin-right: 15%; */
    margin-bottom: 10px;
    gap: 5px;
}

.owner-perms2 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
    gap: 5px;
    align-items: flex-end;
}

.owner-controls {
    display: flex;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 200ms;
    text-align: center;
    width:150px;
    background-color: rgb(169 104 84);
    color: white;
    height: 20px;
}

.owner-controls:hover {
    display: flex;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 200ms;
    text-align: center;
    width:150px;
    background-color: rgb(255, 110, 66);
    color: white;
    height: 20px;
    box-shadow: 0 0 5px black;
}

.merchdetails-store-name {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    font-weight: 200;
    border-radius: 6px;
    background-color: rgba(241, 114, 69, .4);
    max-width: 400px;
    width: 400px;
    transition-duration: 200ms;
}

.merchdetails-store-name:hover {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    font-weight: 200;
    border-radius: 6px;
    background-color: rgba(241, 114, 69, .6);
    max-width: 400px;
    width: 400px;
    transition-duration: 200ms;
    
}

.store-name-details {
    font-size: 20pt;
    transition-duration: 200ms;
    word-break: break-all;
}

.store-name-details:hover {
    font-size: 20pt;
    text-decoration: underline;
    transition-duration: 200ms;
}


.merchdetails-info {
    word-break: break-word;
    display: flex;
    justify-content: center;
    margin: 20px;
    transition-duration: 200ms;
}

.merchdetails-info:hover {
    word-break: break-word;
    display: flex;
    justify-content: center;
    margin: 20px;
    transition-duration: 200ms;
    font-size: 24pt;
}

.click-to-store {
    word-break: break-word;
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    font-size: 14pt;
}

.visit-shop {
    text-decoration: underline;
    font-size: 12pt;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.merchdetails-desc {
    word-break: break-word;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.protection {
    word-break: break-word;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.protection2 {
    word-break: break-word;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 14pt;
    font-weight: 300;
}

.protection3 {
    word-break: break-word;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 12pt;
    font-weight: 200;
    margin-top: 10px;
}
