.merch-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 20px;
    grid-gap: 20px;
    gap: 20px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 15px;
    /* background-color: rgb(254, 232, 205); */
}

.merch-home-image {
    width: 250px;
    height: 170px;
    border-radius: 8px;
    transition-duration: 200ms;
}

.merch-home-image:hover {
    width: 250px;
    height: 170px;
    border-radius: 8px;
    box-shadow: 0 0 5px black;
    transition-duration: 200ms;
}

.merch-card-info {
    display: flex;
    position: relative;
    bottom: 50px;
    left: 10px;
    z-index: 1;
    background-color: aliceblue;
    width: fit-content;
    max-width: 230px;
    padding: 5px;
    border-radius: 30px;
    word-break: break-all;
    overflow: hidden;
    box-sizing: border-box;
    max-height: 25px;
    font-weight: 300;
}

.merch-home-image-container {
    max-width: 250px;
    max-height: 200px;
    height: 170px;
}