a {
    text-decoration: none;
    color: black;
}

.shopcard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid red;
    width: 400px;
}

.shop-image {
    max-width: 400px;
    height: 300px;
}

.shop-link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
}
.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100vw;
    gap: 20px;
}